@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

.app {
  color: var(--color-text);
  background: var(--color-background-mute);
  overflow: hidden;

  .content {
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    height: 80vh;
  }
}

.header {
  background: var(--ev-c-header-bg);
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .logo {
    width: 48px;
    height: 48px;
    -webkit-user-drag: none;
    filter: invert(45%) sepia(62%) saturate(881%) hue-rotate(153deg) brightness(98%) contrast(104%);
  }

  .businessName {
    font-size: 28px;
    font-weight: 600;
    color: var(--ev-c-text-1);
  }

  .frame-btns {
    font-size: 28px;
    color: lightslategray;
    cursor: pointer;
  }
}

.footer {
  font-size: 16px;
  line-height: 12px;
  background: var(--ev-c-footer-bg);
}

.menu {
  background: linear-gradient(var(--ev-c-menu-3), var(--ev-c-menu-1));
  height: 100vh;
  padding: 0;

  img {
    height: 32px;
    width: 32px;
    filter: invert(97%) sepia(87%) saturate(86%) hue-rotate(186deg) brightness(114%) contrast(90%);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 20px;
    line-height: 38px;
    color: var(--ev-button-alt-text);
  }

  a:hover,
  a:focus {
    background-color: var(--ev-button-alt-hover-bg);
  }
}

.accordion-button {
  background-color: transparent !important;
  line-height: 32px;
  padding: 2px;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: darkseagreen;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
}

@media (max-width: 350px) {
}
